<h2>CbPay Test Payment</h2>

<form method="post" action="/Payment/CreatePayment">
    <input name="OrderId" value="AA1111" placeholder="Order ID" />
    <br />
    <input name="OrderDetails" value="CB Test Order 00123" placeholder="Order Details" />
    <br />
    <input type="number" name="Amount" value="800.00" placeholder="Amount" />
    <br />
    <button type="submit">Pay with CBPay....</button>
</form>